* {
  box-sizing: border-box;
}
body {
  display: grid;
  justify-content: center;
  margin: 0;
  gap: 20px;
  background: lightblue;
  padding: 20px;
  font-family: 'Helvetica Neue', sans-serif;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;

  &.overlay--active {
    display: block;
  }
}
